<aside>
    <ul>
    	{% for cycle in listeCycles %}
    		<div class="cycle" id="t{{cycle.id}}" data-target=".t{{cycle.id}}" data-toggle="collapse" onclick="asideCollapseColor('t{{cycle.id}}');">
		    	<li>{{cycle.nomCycle}}</li>
		    </div>
		    <div class="collapse t{{cycle.id}}">
	    		{% for niveau in listeNiveaux %}
	    			{% if niveau.cycle.id == cycle.id %} 
	    				<a href="{{ path('nk_hint_subjectsPerLevel', { 'nomNiveau' : niveau.nomNiveau }) }}" class="level-name-link">
		    				<div class="level-name" style="border-left-color:{{niveau.couleurNiveau}}" onmouseover="this.style.backgroundColor='{{niveau.couleurNiveau}}'" onmouseout="this.style.backgroundColor=''">
			    				{{niveau.nomNiveau}}	
			    			</div>
		    			</a>
	    			{% endif %}
	    		{% endfor %}
	    	</div>
 	  
    	{% endfor %}
    </ul>
</aside>

<script type="text/javascript">
    function asideCollapseColor(id) {
        var element= $("aside ul #"+id); 
        if(element.attr("class") == "cycle-collapsed"){
            $("aside ul #"+id).attr("class","cycle");
            isCollapsed = 0;
        }else{
        	$("aside ul #"+id).attr("class","cycle-collapsed");
        	isCollapsed = 1;
        }
    }
</script>

