<aside>
	<div class="aside-title">
	   	Niveaux 
	</div>
    <ul>
    	{% for cycle in listeCycles %}
    		<div class="cycle" data-target=".t{{cycle.id}}" data-toggle="collapse">
		    	<li>{{cycle.nomCycle}}</li>
		    </div>
		    <div class="collapse t{{cycle.id}}">
	    		{% for niveau in listeNiveaux %}
	    			{% if niveau.cycle.id == cycle.id %} 
	    				<a href="{{ path('nk_hint_subjectsPerLevel', { 'nomNiveau' : niveau.nomNiveau }) }}" class="level-name-link">
		    				<div class="level-name" style="border-left-color:{{niveau.couleurNiveau}}" onmouseover="this.style.backgroundColor='{{niveau.couleurNiveau}}'" onmouseout="this.style.backgroundColor=''">
			    				{{niveau.nomNiveau}}	
			    			</div>
		    			</a>
	    			{% endif %}
	    		{% endfor %}
	    	</div>
 	  
    	{% endfor %}
    </ul>
</aside>