{% extends 'NKHintBundle::layout.html.twig' %}

	{% block sub_header %}
        	<div class="row" id="sub-header" style="background-color:{{couleurNiveau}}">
        		<span class="level-name-header">{{nomNiveau}}</span>
			</div>
    {% endblock sub_header %}

{% block content %}
{% block NKHintBundle_content %}
	<div class="main-container">
		{% if listeMatieres is defined %}  
			<div class="card-container">
				{% for matiere in listeMatieres|sort %}
					<a href="{{ path('nk_hint_coursexos', { 'nomNiveau': matiere.niveau.nomNiveau, 'nomMatiere': matiere.nomMatiere}) }}" class="subject-link">
						<div class="subject-card" style="background: transparent url({{asset('subject_icons/'~matiere.nomMatiere|replace({'é':'e'})|replace({'è':'e'})|replace({' ':''})|replace({'ê':'e'})|lower~'.png')}}) scroll no-repeat center center;">
						</div>
						<span class="subject-title">
								{{matiere.nomMatiere}}
						</span>	
					</a>
				{% endfor %}
			</div>
		{% endif %}
		{{ render(controller("NKHintBundle:Aside:asideDisplay")) }}
	</div>
{% endblock NKHintBundle_content %}
{% endblock %}