{% extends 'NKHintBundle::layout.html.twig' %}

	{% block sub_header %}
        	<div class="row" id="sub-header" style="background-color:{{couleurNiveau}}">
        		<span class="level-name-header">{{nomNiveau}}</span>
			</div>
    {% endblock sub_header %}

{% block content %}
{% block NKHintBundle_content %}
	<div class="main-container">
		{% if listeMatieres is defined %}  
			<div class="card-container">
				{% for matiere in listeMatieres %}
					<a href="{{ path('nk_hint_coursexos', { 'nomNiveau': matiere.niveau.nomNiveau, 'nomMatiere': matiere.nomMatiere}) }}">
						<div class="subject-card">
							<div class="subject-title">
								{{matiere.nomMatiere}}
							</div>
							<img src="{{asset('subject_icons/mathsIcon.jpg')}}" alt="Mathématiques" class="subject-img"> 
							<div class="subject-inf">
								Et là les informations sur la matière
							</div>
						</div>
					</a>
				{% endfor %}
			</div>

			
		{% endif %}
		{% if listeNiveaux is defined %}
			<div class="level-container">
				{% for niveau in listeNiveaux %}
					<div class="level-name">
			    		<a href="{{ path('nk_hint_subjectsPerLevel', { 'nomNiveau' : niveau.nomNiveau }) }}">
			    			{{niveau.nomNiveau}}
			    		</a>
			    	</div>
				{% endfor %}
			</div>
		{% endif %}
		{{ render(controller("NKHintBundle:Aside:asideDisplay")) }}
	</div>
{% endblock NKHintBundle_content %}
{% endblock %}