<!DOCTYPE html>
<html>
    <head lang=fr>
        <meta charset="UTF-8" />
        <meta name="language" content="en">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <title>{% block title %}Hint{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css"  href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fichiers_css/headerFooter.css') }}"/>
        <link rel="stylesheet" href="{{ asset('fichiers_css/body.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
       
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body class="container-fluid">
        <header class="row">
            {{ render(controller("NKHintBundle:Header:header")) }}
        </header>
        {% block sub_header %}
        	<div class="row" id="sub-header">
			</div>
        {% endblock sub_header %}

        {% block content %}
        {% endblock content %}
     
        <footer class="row">
        	{% include 'default/footer.html.twig' %}
        </footer>

        {% block javascripts %}{% endblock %}    
    </body>
</html>
