<div class="row">
	<div id="sup-header" class="col-sm-12">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<a id="btn-login" class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
		{% else %}
			<a id="btn-login" class="btn btn-success login" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
			<a id="btn-login" class="btn register" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
		{% endif %}
	</div>
</div>
<div id="main-header">
	<div id="logo" class="">
		Hint Logo
	</div>
	
	<span class="">
		<a href="#">ACCES NIVEAUX</a>
		<ul>
			{% for niveau in listeNiveaux %}
                    <li><a href="{{ path('nk_hint_subjectsPerLevel', { 'niveauId': niveau.id }) }}">{{niveau.nomNiveau}}</a></li>
                {% endfor %}
		</ul>
	</span>
	<input type="search" name="searchBar" placeholder="  Search">
</div>

<div class="row" id="sub-header">
	
</div>