<div class="row">
	<div id="sup-header" class="col-sm-12">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<a id="btn-login" class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
		{% else %}
			<a id="btn-login" class="btn btn-success login" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
			<a id="btn-login" class="btn register" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
		{% endif %}
	</div>
</div>
<div id="main-header">
	<a id="logo" href="{{ path('homepage') }}"></a>
	 <input type="text" class="form-control" placeholder="Entrez votre recherche">
</div>